In [2]:
#import pandas as pd
# Install pandas if not already installed
%pip install pandas

import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/huzefa/Library/Python/3.9/lib/python/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in /Users/huzefa/Library/Python/3.9/lib/python/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/huzefa/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/huzefa/Library/Python/3.9/lib/python/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/huzefa/Library/Python/3.9/lib/python/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
df = pd.read_csv('data/DS2_IEA_Global_EV Data 2024.csv')
                 
df.head()

In [3]:
import sqlite3

In [ ]:

# Create connection to SQLite Database
conn = sqlite3.connect('ev_sales.db')

In [ ]:
df_ev_sales = pd.read_csv('data/DS2_IEA_Global_EV Data 2024.csv')
df_ev_sales.to_sql('ev_sales', conn, if_exists='replace', index=False)

In [ ]:
# SQL query:
#to see the table
# select region Germany
query = "select * from ev_sales where region = 'Germany'"
table = pd.read_sql_query(query, conn)
table

In [ ]:
# check the most selling cars
query2 = """
select parameter, mode, powertrain
from ev_sales
where region = 'Germany' and mode = 'Cars' and parameter = 'EV Sales' and unit = 'Vehicles'
"""
table2 = pd.read_sql_query(query2, conn)
table2

In [ ]:
# check the most selling cars year
# we are focusing cars, not trucks, vans, or buses
query3 = """SELECT 
    parameter, 
    mode, 
    powertrain,
    year,
    value
FROM ev_sales
WHERE 
    region = 'Germany' 
    AND mode = 'Cars' 
    AND parameter = 'EV sales'
    AND unit = 'Vehicles'
    AND powertrain != 'EV'
ORDER BY value DESC
LIMIT 10"""
table = pd.read_sql_query(query3, conn)
table

In [ ]:
# checking top selling PHEV cars trend
# check the most selling cars year
# we are focusing cars, not trucks, vans, or buses
query4 = """SELECT 
    parameter, 
    mode, 
    powertrain,
    YEAR,
    value
FROM ds2_iea_global_ev_data
WHERE 
    region = 'Germany' 
    AND mode = 'Cars' 
    AND parameter = 'EV sales'
    AND unit = 'Vehicles'
    AND powertrain != 'EV'
    AND powertrain = 'PHEV'
ORDER BY value DESC
LIMIT 10"""
table = pd.read_sql_query(query4, conn)
table1

In [8]:
# working with the DS1

# Create connection to SQLite Database
conn = sqlite3.connect('ev_cars_new.db')

In [9]:
df_ev_cars = pd.read_csv('data/ds1_ev_cars_new.csv')
df_ev_cars.to_sql('ev_cars_new.db', conn, if_exists='replace', index=False)

360

In [ ]:
# now data cleaning with python